<mat-toolbar style="height: 275px; padding-top: 20px;">
    <span style="flex: 1 1 auto;"></span>
    <div id="mission" class="footer_container">
        <div>
            <h1 class="footer_heading">Mission</h1>
        </div>
        <span>Our mission is to be the best!</span>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div id="involve" class="footer_container">
        <h1 class="footer_heading">Get Involved</h1>
        <span><a routerLink="/involve/volunteer">Volunteer</a></span>
        <br />
        <span><a routerLink="/involve/events">Events</a></span>
        <br />
        <span><a routerLink="/involve/booth">Booth</a></span>
        <br />
        <span><a routerLink="/involve/sponsorship">Sponsorship</a></span>
        <br />
        <span><a routerLink="/involve/member">Become a Member</a></span>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div id="about" class="footer_container">
        <h1 class="footer_heading">About Us</h1>
        <span><a routerLink="/about/mission">Mission & Vision</a></span>
        <br />
        <span><a routerLink="/about/activities">Activities & Roles</a></span>
        <br />
        <span><a routerLink="/about/history">History</a></span>
        <br />
        <span><a routerLink="/about/blogs">Blogs</a></span>
        <br />
        <span><a routerLink="/about/by_laws">By Laws</a></span>
    </div>
    <span style="flex: 1 1 auto;"></span>
</mat-toolbar>