<mat-toolbar style="height: 120px;">
  <!-- <img src="./assets/img/photo_2023-03-18_19-07-32.jpg" height="120px" /> -->
  <img src="./assets/img/logo.png" height="120px" />
  <span id="header" style="padding-left: 25px;">Punjabi Society of Greater Houston</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>
<mat-toolbar style="height: 120px;">
  <span style="flex: 1 1 auto;"></span>
  <button mat-button routerLink="home" style="font-variant-caps: small-caps;" (mouseover)="getInvolvedTrigger.closeMenu(); aboutTrigger.closeMenu()" routerLinkActive="link_primary">Home</button>
  <button mat-button [matMenuTriggerFor]="about" style="font-variant-caps: small-caps; font-size: medium;" #aboutTrigger="matMenuTrigger" (mouseover)="aboutTrigger.openMenu(); getInvolvedTrigger.closeMenu()" routerLinkActive="link_primary" routerLink="/about/">About</button>
  <mat-menu #about="matMenu" xPosition="after" yPosition="below" [hasBackdrop]="false" [overlapTrigger]="false">
    <span (mouseleave)="aboutTrigger.closeMenu()">
      <button mat-menu-item routerLink="/about/mission" style="font-variant-caps: small-caps;">Mission & Vision</button>
      <!-- <button mat-menu-item routerLink="/about/activities" style="font-variant-caps: small-caps;">Activities & Roles</button>
      <button mat-menu-item routerLink="/about/history" style="font-variant-caps: small-caps;">History</button>
      <button mat-menu-item routerLink="/about/blogs" style="font-variant-caps: small-caps;">Blogs</button> -->
      <button mat-menu-item routerLink="/about/by_laws" style="font-variant-caps: small-caps;">By Laws</button>
    </span>
  </mat-menu>
  <button mat-button routerLink="/leadership" style="font-variant-caps: small-caps; font-size: large;" (mouseover)="getInvolvedTrigger.closeMenu(); aboutTrigger.closeMenu()" routerLinkActive="link_primary">Leadership</button>
  <button mat-button [matMenuTriggerFor]="getInvolved" style="font-variant-caps: small-caps;" #getInvolvedTrigger="matMenuTrigger" (mouseover)="getInvolvedTrigger.openMenu(); aboutTrigger.closeMenu()" routerLinkActive="link_primary" routerLink="/involve/">Get Involved</button>
  <mat-menu #getInvolved="matMenu" xPosition="after" yPosition="below" [hasBackdrop]="false">
    <span (mouseleave)="getInvolvedTrigger.closeMenu()">
      <button mat-menu-item routerLink="/involve/volunteer" style="font-variant-caps: small-caps;">Volunteer</button>
      <button mat-menu-item routerLink="/involve/events" style="font-variant-caps: small-caps;">Events</button>
      <button mat-menu-item routerLink="/involve/booth" style="font-variant-caps: small-caps;">Booth</button>
      <button mat-menu-item routerLink="/involve/sponsorship" style="font-variant-caps: small-caps;">Sponsorship</button>
      <!-- <button mat-menu-item routerLink="/involve/become_member" style="font-variant-caps: small-caps;">Become A Member</button> -->
    </span>
  </mat-menu>
  <button mat-button routerLink="/gallery" style="font-variant-caps: small-caps;" (mouseover)="getInvolvedTrigger.closeMenu(); aboutTrigger.closeMenu()" routerLinkActive="link_primary">Gallery</button>
  <button mat-button routerLink="/contact" style="font-variant-caps: small-caps;" (mouseover)="getInvolvedTrigger.closeMenu(); aboutTrigger.closeMenu()" routerLinkActive="link_primary">Contact</button>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>
