<!-- <img src="assets/img/home_banner.jpg" width="100%" /> -->

<mat-card style="height: 50px; margin-top: 52px;">
  <mat-card-actions style="vertical-align: middle;">
    <span style="flex: 1 1 auto;"></span>
    <span style="flex: 1 1 auto;"></span>
    <div class="landing_icons">
      <a mat-fab extended color="link" style="height: 35px; background-color: navy; color: white;" routerLink="/involve/volunteer">
        <mat-icon>volunteer_activism</mat-icon>
        Get Involved
      </a>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div class="landing_icons">
      <a mat-fab extended color="link" style="height: 35px; background-color: #ED5B01; color: white;" routerLink="/involve/sponsorship">
        <mat-icon>attach_money</mat-icon>
        Donate
      </a>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div class="landing_icons">
      <a mat-fab extended color="link" style="height: 35px; background-color: darkgreen; color: white;" routerLink="/involve/booth">
        <mat-icon>shop</mat-icon>
        Booth Signup
      </a>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <span style="flex: 1 1 auto;"></span>
  </mat-card-actions>
</mat-card>

<mat-card class="home_card">
  <gallery
    id="homeGallery"
    [thumbTemplate]="thumbTemplate"
    [itemTemplate]="itemTemplate"
    [playerInterval]="playInterval"
    [autoPlay]="autoPlay"
    [thumb]="thumb"
    loadingStrategy="preload"
  ></gallery>

  <ng-template #thumbTemplate let-type="type">
  <span *ngIf="type === 'youtube'" class="item-type">
      <span size="lg">fa-youtube</span>
  </span>
  <span *ngIf="type === 'video'" class="item-type">
    <span size="lg">fa-play</span>
    <!-- <fa-icon icon="faVideo" size="lg"></fa-icon> -->
  </span>
  </ng-template>
  <ng-template #itemTemplate
              let-index="index"
              let-type="type"
              let-data="data"
              let-currIndex="currIndex"
              let-isActive="isActive"
              let-play="play"
              let-pause="pause">
  <span *ngIf="type === 'image' && isActive" [@slideAnimation] class="item-text">
      {{data?.title}}
  </span>
  </ng-template>
  <mat-card-content>
    <span style="flex: 1 1 auto;"></span>
    <div style="text-align: center;">
      <!-- <span class="moto">
        {{homeSliderArray[selectedIndex].text}}
      </span> -->
    </div>
    <span style="flex: 1 1 auto;"></span>
  </mat-card-content>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Vaisakhi Indoor Mela 2023</mat-card-title>
    <mat-card-subtitle>Sunday, April 23 2023 - 5 PM to 10 PM</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img src="https://drive.google.com/uc?id=18wQOwZf4p8xFtsymw69nUK31QrUasrrJ" width="100%">
  </mat-card-content>
  <mat-card-actions>
      <span style="flex: 1 1 auto;"></span>
      <span style="flex: 1 1 auto;"></span>
      <a mat-fab extended color="accent" href="https://form.jotform.com/230694361451152">
          <mat-icon>storefront</mat-icon>
          Booths
      </a>
      <span style="flex: 1 1 auto;"></span>
      <a mat-fab extended color="primary" href="https://www.eventbrite.com/e/vaisakhi-mela-2023-tickets-571167516417">
          <mat-icon>confirmation_number</mat-icon>
          Tickets
      </a>
      <span style="flex: 1 1 auto;"></span>
      <a mat-fab extended color="accent" href="https://form.jotform.com/92910752621152">
          <mat-icon>person_play</mat-icon>
          Participate
      </a>
      <span style="flex: 1 1 auto;"></span>
      <span style="flex: 1 1 auto;"></span>
  </mat-card-actions>
</mat-card>
