<!-- <img src="assets/img/home_banner.jpg" width="100%" /> -->

<mat-card class="home_card">
  <div class="container">
    <div
        class="img-container"
        *ngFor="let i of homeSliderArray; let select = index;"
        [hidden]="select != selectedIndex"
    >
      <img src="{{i.img}}" alt="{{i.alt}}" width="100%" />
    </div>
  </div>
  <mat-card-content>
    <p>
      {{homeSliderArray[selectedIndex].text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button style="font-variant-caps: small-caps;" color="accent">Volunteer</button> &nbsp; &nbsp;
    <button mat-raised-button style="font-variant-caps: small-caps;" color="primary">Donate</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-actions>
    <span style="flex: 1 1 auto;"></span>
    <div>
        <button mat-fab color="green">
            <mat-icon>volunteer_activism</mat-icon>
        </button>
        <span>Volunteer</span>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <button mat-fab>
      <mat-icon>attach_money</mat-icon>
    </button>
    Donate
    <span style="flex: 1 1 auto;"></span>
    <div>
        <button mat-fab>
            <mat-icon>volunteer</mat-icon>
        </button>
        <span>Volunteer</span>
    </div>
    <span style="flex: 1 1 auto;"></span>
  </mat-card-actions>
</mat-card>