<mat-card style="margin-top: 10px; margin-left: 20px; margin-right: 20px; max-width: 800px; margin-left: auto; margin-right: auto;">
    <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>Punjabi Society of Greater Houston</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header>
        <img mat-card-image src="./assets/img/photo_2023-03-18_19-07-32.jpg" alt="Punjabi Society of Greater Houston" style="margin-left: auto; margin-right: auto;">
    </mat-card-header>
    <mat-card-content style="margin-top: 30px; text-align: justify;">
        <p>
            Welcome to the Punjabi Society of Greater Houston! Our society was founded with the purpose of bringing Punjabi people together and giving back to our community. We believe in strengthening the bonds of Punjab, Punjabi culture, and the Punjabi way of living through various initiatives.
        </p>
        <p>
            Our society aims to encourage children to speak Punjabi language and keep Punjabi culture alive for generations to come. We also take care of the interests of Punjabis in Greater Houston and provide necessary remedial measures during difficult times.
        </p>
        <p>
            We showcase Punjabi philosophy, poetry, drama, dance, music, movies, cuisine, spirituality, education, artistry, and architecture to expand and strengthen our culture.
        </p>
        <p>
            We organize community service, cultural programs, and learning programs to provide a platform for Punjabis to engage with each other and give back to our community. Our society also provides a networking platform for community members to share their experiences and grow through learning and knowledge sharing.
        </p>
        <p>
            Join us to celebrate our rich Punjabi culture, strengthen our community, and make a positive impact on the Greater Houston. To get involved, please contact us through our website or social media channels.
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>